.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 0;
    gap: 2em;

    .card-wrapper {
        display: flex;
        gap: 1em;
        padding: 1em 0;

        img {
            width: 100%;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;

            h3 {
                font-size: 30px;
                color: var(--color-text-secondary);
            }

            a {
                font-size: 20px;
                color: var(--color-text-primary);
                font-weight: 900;

                &:hover {
                    color: var(--color-text-tertiary);
                }
            }


            p {
                font-size: 20px;
                text-align: left;
                color: var(--color-text-secondary);

            }
        }
    }

    @media screen and (max-width: 740px) {
        flex-direction: column;
        gap: 2em;
        padding: 1em;

        .card-wrapper {
            width: 100%;
            height: 180px;
            padding: 0;

            .card-image {
                width: 40%;

                img {
                    width: 100%;
                }
            }

            .card-content {
                width: 60%;
                height: 180px;
                gap: 0;

            }
        }


    }
}