.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    .navbar-log {
        img {
            width: 50px;
        }
    }

    @media screen and (max-width: 740px) {
        padding: 1em;

        .navbar-log {
            img {
                width: 40px;
            }
        }

    }

    .navbar-menu {
        display: flex;
        gap: 25px;

        @media screen and (max-width: 740px) {
            width: 80%;
            padding: 1rem;

        }

        .nav-list {
            display: flex;
            gap: 15px;

            @media screen and (max-width: 740px) {
                display: none;
            }

            a {
                color: var(--color-text-primary);
                font-size: 20px;

                &:hover {
                    color: rgb(176, 50, 50);
                    border-bottom: 1px solid rgb(176, 50, 50);

                }
            }
        }

        .menu-mobile {
            display: none;

            .btn-menu {
                cursor: pointer;

                button {
                    border: transparent;
                    background: transparent;
                    z-index: 10;
                }

            }

            @media screen and (max-width: 740px) {
                display: flex;
                flex-direction: column;
                padding: 0;
                width: 100%;
                position: relative;

                .btn-menu {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                }

                .menu-mobile-list {
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    justify-content: center;
                    position: absolute;
                    width: 100vw;
                    min-height: 100vh;
                    top: -17px;
                    left: 15px;
                    animation: Slider 1s;
                    background-color: white;


                    @keyframes Slider {
                        to {
                            transform: translateX(0px)
                        }

                        from {
                            transform: translateX(80px)
                        }
                    }


                    a {
                        font-size: 22px;
                        color: var(--color-text-primary);

                        &:hover {
                            color: rgb(176, 50, 50);
                            text-decoration: underline rgb(176, 50, 50)
                        }
                    }
                }
            }

        }

    }



}