.attribution {
    background-color: var(--color-text-primary);
    width: 100%;
    text-align: center;
    padding: 2em;
    font-size: 18px;
    margin-top: 5rem;



    p {
        color: var(--color-text-secondary);

        a {
            color: var(--color-text-secondary);
            text-decoration: none;

            &:hover {
                color: var(--color-text-tertiary);
            }
        }
    }

    span {
        color: var(--color-text-secondary);

        a {
            color: var(--color-text-secondary);
            text-decoration: none;

            &:hover {
                color: var(--color-text-tertiary);
            }
        }
    }
}