.container-information {
  width: 100%;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 740px) {
  .container-information {
    flex-direction: column;
    width: 100%;
    padding: 0 1em;
  }
  .container-information .main-information {
    min-width: 100%;
  }
  .container-information .main-information .image-desktop-responsive {
    display: none;
  }
  .container-information .main-information .information-text {
    flex-direction: column;
    width: 100%;
  }
  .container-information .main-information .information-text .information-title {
    font-size: 2em;
    min-width: 100%;
  }
  .container-information .main-information .information-text .information-title h1 {
    font-size: 2em;
    font-weight: 900;
  }
  .container-information .main-information .information-text .information-description {
    min-width: 100%;
    padding: 0;
  }
}
.container-information .main-information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.container-information .main-information .image-mobile-responsive {
  display: none;
}
@media screen and (max-width: 740px) {
  .container-information .main-information .image-mobile-responsive {
    display: block;
  }
  .container-information .main-information .image-mobile-responsive img {
    width: 100%;
  }
}
.container-information .main-information .information-text {
  display: flex;
  padding: 2em 0;
}
.container-information .main-information .information-text .information-title {
  max-width: 50%;
  height: 100%;
}
.container-information .main-information .information-text .information-title h1 {
  font-size: 4rem;
}
@media screen and (max-width: 740px) {
  .container-information .main-information .information-text .information-title h1 {
    font-size: 1.5em;
  }
}
.container-information .main-information .information-text .information-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2em;
  gap: 2em;
}
.container-information .main-information .information-text .information-description p {
  font-size: 22px;
  color: var(--color-text-secondary);
}
@media screen and (max-width: 740px) {
  .container-information .main-information .information-text .information-description {
    margin-top: 1em;
    padding: 0;
  }
  .container-information .main-information .information-text .information-description p {
    font-size: 18px;
    text-align: left;
  }
}
.container-information .main-information .information-text .information-description button {
  padding: 1.5em;
  border: transparent;
  background-color: var(--bg-bnt-color);
  color: white !important;
  cursor: pointer;
  width: 60%;
}
.container-information .main-information .information-text .information-description button:hover {
  background-color: var(--color-text-primary);
}
.container-information .side-frame {
  width: 100%;
  padding: 2em;
  background-color: #000;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: 1em;
}
.container-information .side-frame .new-title h1 {
  color: var(--color-text-tertiary);
  font-size: 3em;
}
.container-information .side-frame .new-content {
  padding: 1em 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--color-text-secondary);
}
.container-information .side-frame .new-content:last-of-type {
  border: none;
}
.container-information .side-frame .new-content a {
  color: white;
  font-size: 20px;
}
.container-information .side-frame .new-content a:hover {
  color: var(--color-text-tertiary);
}
.container-information .side-frame .new-content p {
  font-size: 22px;
  color: var(--color-text-nav);
}/*# sourceMappingURL=News.css.map */