.container-information {
    width: 100%;
    display: flex;
    gap: 2rem;

    @media screen and (max-width: 740px) {
        flex-direction: column;
        width: 100%;
        padding: 0 1em;

        .main-information {
            min-width: 100%;

            .image-desktop-responsive {
                display: none;
            }



            .information-text {
                flex-direction: column;
                width: 100%;

                .information-title {
                    font-size: 2em;
                    min-width: 100%;

                    h1 {
                        font-size: 2em;
                        font-weight: 900;
                    }
                }

                .information-description {
                    min-width: 100%;
                    padding: 0;


                }
            }

        }
    }

    .main-information {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;

        .image-mobile-responsive {
            display: none;
        }

        @media screen and (max-width: 740px) {
            .image-mobile-responsive {
                display: block;

                img {
                    width: 100%;
                }


            }
        }

        .information-text {
            display: flex;
            padding: 2em 0;

            .information-title {
                max-width: 50%;
                height: 100%;

                h1 {
                    font-size: 4rem;
                }

                @media screen and (max-width: 740px) {
                    h1 {
                        font-size: 1.5em;
                    }
                }
            }

            .information-description {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 0 2em;
                gap: 2em;

                p {
                    font-size: 22px;
                    color: var(--color-text-secondary);
                }

                @media screen and (max-width: 740px) {
                    margin-top: 1em;
                    padding: 0;

                    p {
                        font-size: 18px;
                        text-align: left;
                    }
                }


                button {
                    padding: 1.5em;
                    border: transparent;
                    background-color: var(--bg-bnt-color);
                    color: white !important;
                    cursor: pointer;
                    width: 60%;


                    &:hover {
                        background-color: var(--color-text-primary)
                    }
                }
            }
        }


    }

    .side-frame {
        width: 100%;
        padding: 2em;
        background-color: #000;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        gap: 1em;

        .new-title {
            h1 {
                color: var(--color-text-tertiary);
                font-size: 3em;
            }
        }

        .new-content {
            padding: 1em 0;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            border-bottom: 1px solid var(--color-text-secondary);

            &:last-of-type {
                border: none;
            }

            a {
                color: white;
                font-size: 20px;

                &:hover {
                    color: var(--color-text-tertiary)
                }
            }

            p {
                font-size: 22px;
                color: var(--color-text-nav);
            }
        }

    }
}